body {
    height: 100vh;
    
}

#calculator {
    max-width: 75vw;
    max-height: 80vh;
    border-radius: 8px;
    padding: 20px;
    height: 500px;
    width: 356px;
    border: 2px solid black;
    gap: 8px;
    background-color: #c1c1c1;
}

#display {
    margin-bottom: 8px;
    height: 75px;
    position: relative;
    border: 2px solid black;
    background-color: #7DF9FF;
    overflow: hidden;
}

#numbers {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 8px 8px;
    font-size: 1.75em;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
}

.row {
    gap: 8px;
}

.num {
    flex: 3;
    gap: 4px;
}

.opr {
    flex: 2;
    gap: 4px;
}

button {
    border: 1px solid black;
    border-radius: 8px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
}

button:active {
    box-shadow: inset 0px 5px 5px #c1c1c1;
}

#decimal {
    width: 63px;
}

.zero { 
    flex: 65;
}

.opr button {
    background-color: #00A36C;
}

.opr button:active {
    box-shadow: inset 0px 5px 5px #121212;
}